.btn:link,
.btn:visited {
  border-radius: 10rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem, 2rem $color-shadows;
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem $color-shadows;
}

.btn--white {
  background-color: $color-background-light;
  color: $color-text-dark;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: $color-background-light;
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn--animated {
  animation: moveInDown 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
