/*
* Colors
*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f90;
$color-primary-dark: #28b485ea;
$color-background-light: #fff;
$color-text-light: #fff;
$color-text-dark: #777;
$color-shadows: rgba(0, 0, 0, 0.2);
